.normal {background-color: #a6a877;}
.grass {background-color: #77c850;}
.fire {background-color: #ee7f30;}
.water {background-color: #678fee;}
.electric {background-color: #f7cf2e;}
.ice {background-color: #98d5d7;}
.ground {background-color: #dfbf69;}
.flying {background-color: #a98ff0;}
.poison {background-color: #a040a0;}
.fighting {background-color: #bf3029;}
.psychic {background-color: #f65687;}
.dark {background-color: #725847;}
.rock {background-color: #b8a137;}
.bug {background-color: #a8b720;}
.ghost {background-color: #6e5896;}
.steel {background-color: #b9b7cf;}
.dragon {background-color: #6f38f6;}
.fairy {background-color: #f9aec7;}


body,
html {
    width: 100vh;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h2 {
    text-transform: capitalize;
    margin: 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 01rem;
    list-style: none;

}



/* ol.pokemons {
    display: grid;
    grid-template-areas:
    "bulbasaur ivysaur"
    "venusaur charmander"
    "charmaleon charizard"
    "squirtle wartortle"
    "blastoise pikachu";
    margin: 0;
    padding: 0;
    list-style: none;
} */

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
}

/* Estilização do nome */
.pokemon .name {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin: .625rem;
    text-transform: capitalize;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}

.pokemon .details .types {
    list-style: none;
    padding: 0%;
}

.pokemon .details .types .type {
    color: #fff;
    padding: 8px;
    margin: .5rem 0;
    font-size: 1.5rem;
    border-radius: .6rem;
    filter: brightness(1.1);
}

.pokemon .details img {
    width: 70%;
    height: 70%;
    max-width: 100%;
}

/* Estilização do número */
.pokemon .number {
    display: flex;
    color: #14A06F;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.pagination button {
    font-weight: 700;
    color: white;
    font-size: 2rem;
    padding: 2rem 4rem;
    background-color: #4a1ac4;
    border: none;
    border-radius: 4rem;
    box-shadow: 10px 5px 1rem rgb(43, 184, 250);
}
.pagination button:hover {
    background-color: #678fee;
}


@media (min-width: 440px) {

    body {
        height: 100vh;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 720px) {

    body {
        width: 720px;
        margin: 0 auto;
    }

    .content {
        margin: 0 auto;
    }

    .pokemon .details .types .type {
        font-size: 1rem;
    }

    .pokemons {

        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        width: 720px;
        align-items: center;
    }

    .pokemon:last-child {
        grid-column: 2;
    }
}

@media (min-width: 1280px) {
    body {
        width: 1280px;
        margin: 0 auto;
    }

    .content {
        margin: 0 auto;
    }

    .pokemons {

        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        width: 1280px;
        align-items: center;
    }

    .pokemons:last-child {
        grid-column: 2;
    }
}

@media (min-width: 1440px) {
    body {
        width: 1440px;
        margin: 0 auto;
    }

    .content {
        margin: 0 auto;
    }

    .pokemons {

        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        width: 1440px;
        align-items: center;
    }

    .pokemons:last-child {
        grid-column: 2;
    }
}